.form-container {
  display: flex;
  justify-content: space-between;
  margin: 1.2em 0;
  gap: var(--main-gap);
}

.input-text {
  border: none;
  border-radius: var(--main-border-radius);
  width: 100%;
  padding: 1em;
  height: 3em;
  box-shadow: var(--main-box-shadow);
}

.button-submit {
  all: unset;
  aspect-ratio: 1 / 1;
  width: 3em;
  height: 3em;
  padding: 1em;
  margin: 0;
  text-align: center;
  border-radius: var(--main-border-radius);
  background-color: var(--gray-dark);
  box-shadow: var(--main-box-shadow);
  color: var(--gray-lighter);
  font-size: 1em;
}

.button-submit:active {
  background-color: #414141;
}
