:root {
  padding: var(--main-padding);
  margin: 0;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --gray-dark: #595959;
  --gray-medium-dark: #7F7F7F;
  --gray-medium: #A5A5A5;
  --gray-light: #CCCCCC;
  --gray-lighter: #F2F2F2;

  color: rgba(0, 0, 0, 1);
  background-color: var(--gray-lighter);

  --main-border-radius: 8px;
  --main-gap: 1em;
  --main-box-shadow: 1px 4px 4px -1px rgba(0, 0, 0, 0.4);
  --main-padding: 1em;
  --main-size: 3em;
}

* {
  font-size: 1em;
}